<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenid@s  MercadoLiebre/EugeniaRuiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Login</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="logo"> 
                <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" class="logo">
            </div>
            <div class="form" action="#" method="GET">
                <input type="text" class="input" placeholder="Buscar productos, marcas">
                <button class="submit"><i class="fas fa-search"></i></button>
            </div>

            <p class="copy-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="hamburguer-button">
            <i class="fa fa-bars burger"></i>
        </div>
        <br>
    </header>

    <br>
    
    <main>
        <form action="/" method="post" class="formulario-forma-login">
            <h1>¡Hola! Ingresa tu usuario</h1>
            <div class="control-formulario">
                <label></label>
                <input type="text" name="nombre" class="control-input" placeholder="Nombre de usuario">
            </div>
            <div class="control-formulario"></div>
              <label></label>
              <input type="number" name="precio" placeholder="Escribe tu contraseña" class="control-input" > 
          </div>
          <br>
  
        <div class="control-envio"><button type="submit" class="control-envio-login"><a href="/">Enviar</a></button></div>
    
        </form>

    </main>   
    <br>

    <footer>
        <br>
        <div class="caja1">
          <section class="mensaje-final1">
              <div><i class="fas fa-credit-card"></i></div>
              <div class="titulo-footer" ><b>Pagá con tarjeta o en efectivo</b></div>
              Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
              puntos de pago. ¡Y siempre es seguro!
          </section><br><br>
      
          <section class="mensaje-final2">
              <div><i class="fas fa-gift"></i></i></div>
              <div class="titulo-footer"><b>Envío gratis desde $ 2.500</b></div>
              Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
              productos. Es un beneficio de Mercado Puntos.
          </section><br><br>
      
          <section class="mensaje-final3">
              <div><i class="fas fa-user-shield"></i></div>
              <div class="titulo-footer"><b>Seguridad, de principio a fin</b></div>
              ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
              porque estás siempre protegid@.
          </section><br><br>
      </div>
      
      <div class="mensaje-copy">
          <section>
              <b>Copyright ©2023 MercadoLiebre S.R.L.</b>
          </section>  
      </div>
    </footer>        
    
 </body>
</html>